In [1]:
%pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in d:\anaconda\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# 8.1 EDA Demonstration
import pandas as pd
%matplotlib inline

In [2]:
# We will store the orders table csv data in a variable
data_frame = pd.read_csv(r"C:\Users\black\ga python\orders.csv")

In [7]:
# Use the head method to investigate the first row of data
data_frame.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [31]:
# Use the .info method to view the column names and data types
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999991 entries, 0 to 999990
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       999991 non-null  object
 1   order_date     999991 non-null  object
 2   ship_date      999991 non-null  object
 3   shipping_mode  999991 non-null  object
 4   customer_id    999991 non-null  object
 5   product_id     999991 non-null  object
 6   sales          999991 non-null  float64
 7   quantity       999991 non-null  int64
 8   discount       999991 non-null  float64
 9   profit         999991 non-null  float64
 10  postal_code    192888 non-null  float64
 11  region_id      999795 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 91.6+ MB

In [12]:
# Use the shape attribute to determine the amount of rows and columns total
data_frame.shape

(999991, 12)

In [28]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index
print(f'{data_frame.columns}')
data_frame.index.name = "index"
print(f'{data_frame.index.name}')

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')
index

In [5]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe
data_frame.rename(columns={'ship_mode':'shipping_mode'}, inplace=True)

In [34]:
# Explore columns with column attributes and methods
print(f"{data_frame.sales.describe()}")
print(f'{data_frame.customer_id.value_counts()}')
print(f'{data_frame.customer_id.unique()}')

count    999991.000000
mean        245.885888
std         481.540695
min           0.440000
25%          30.680000
50%          84.780000
75%         250.740000
max       22638.480000
Name: sales, dtype: float64
BE-11335    2208
PO-18850    2069
MP-17965    1895
JG-15805    1831
SC-20380    1759
            ...
ME-8010       22
MG-7650       19
BG-1035       16
RC-9825       12
DK-2985        2
Name: customer_id, Length: 1590, dtype: int64
['PO-8865' 'EB-4110' 'MY-7380' ... 'MG-7890' 'MG-7875' 'NM-8520']

In [3]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:
d_f_products = pd.read_csv(r"C:\Users\black\ga python\products.csv")

In [27]:
# A. What are the columns and index: do they suggest any relationship to other tables?
print(f'{d_f_products.index.name}')
d_f_products.info()
#product_id link

None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [35]:
# B. How many rows of data are there?
d_f_products.shape

(10292, 5)

In [36]:
# C. What are the types of each column?
d_f_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [ ]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [12]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"
prof = data_frame[data_frame.shipping_mode =='Second Class']['profit'].describe()
print(f'{prof}')
#data_frame.profit.describe()

count    335758.000000
mean          1.051705
std          28.973358
min       -2750.280000
25%           0.100000
50%           0.190000
75%           0.290000
max        2799.980000
Name: profit, dtype: float64

In [13]:
# B. Which product is the most commonly ordered on 2017-06-08 
data_frame[data_frame.order_date == '2017-06-08']['product_id'].value_counts()

OFF-ST-10001963     4
OFF-ST-10001426     3
OFF-AR-10003875     3
TEC-AC-10001840     3
OFF-LA-10002295     2
                   ..
FUR-BO-10000676     1
OFF-LA-10004430     1
OFF-LA-10004062     1
TEC-MA-10003704     1
OFF-GRE-10003899    1
Name: product_id, Length: 308, dtype: int64

In [ ]:
# 8.4 Sorting and Filtering

In [30]:
# A. What are the three most profitable orders purchased by customer PO-8865?
data_frame[data_frame.customer_id == 'PO-8865'].sort_values(by=['profit'], ascending=False).head(3)

,order_id,order_date,ship_date,shipping_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
608,AG-2017-2220,2017-12-26,2017-12-30,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.2,190.80,NaN,12699.0
28981,CA-2017-2910,2017-06-04,2017-06-08,Standard Class,PO-8865,OFF-BIN-10004729,198.00,4,0.1,65.28,NaN,2570.0
3946,AG-2019-6470,2019-01-13,2019-01-15,First Class,PO-8865,TEC-SHA-10004874,293.85,1,0.2,61.68,NaN,45585.0

In [33]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quantity?
data_frame[data_frame.product_id == 'TEC-HEW-10002304'].sort_values(by=['quantity'], ascending=False).head(5)

,order_id,order_date,ship_date,shipping_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
581,AG-2017-1949725,2017-12-16,2017-12-18,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.22,0.20,NaN,16676.0
889,AG-2017-4980033,2017-12-07,2017-12-12,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.22,0.20,NaN,7530.0
608,AG-2017-2220,2017-12-26,2017-12-30,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.20,190.80,NaN,12699.0
1671,AG-2018-4980110,2018-01-05,2018-01-08,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.23,0.19,NaN,783.0
1497,AG-2018-3851058,2018-01-15,2018-01-18,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.23,0.19,NaN,4792.0

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! üêº